&lt;?xml&nbsp;version="1.0"&nbsp;encoding="utf-8"&nbsp;?&gt;<BR>
&lt;!--Created&nbsp;with&nbsp;Liquid&nbsp;XML&nbsp;Studio&nbsp;2012&nbsp;Developer&nbsp;Edition&nbsp;(Trial)&nbsp;10.1.7.4256&nbsp;(http://www.liquid-technologies.com)--&gt;<BR>
&lt;xs:schema&nbsp;elementFormDefault="qualified"&nbsp;xmlns:xs="http://www.w3.org/2001/XMLSchema"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:complexType&nbsp;name="LeftSideAdditionalEntriesType"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:sequence&nbsp;minOccurs="0"&nbsp;maxOccurs="unbounded"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="Employees"&nbsp;type="EmployeeType"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:complexType&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:complexType&nbsp;name="RightSideAdditionalEntriesType"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:sequence&nbsp;minOccurs="0"&nbsp;maxOccurs="unbounded"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="Employees"&nbsp;type="EmployeeType"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:complexType&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:complexType&nbsp;name="EmployeeType"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="Name"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="DeptId"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:attribute&nbsp;name="Id"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:complexType&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="Difference"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:complexType&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="LeftSideAdditionalEntries"&nbsp;type="LeftSideAdditionalEntriesType"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="RightSideAdditionalEntries"&nbsp;type="RightSideAdditionalEntriesType"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="Conflicts"&nbsp;type="ConflictType"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:complexType&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:element&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:complexType&nbsp;name="ConflictType"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:sequence&nbsp;minOccurs="0"&nbsp;maxOccurs="unbounded"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="ConflictingData"&nbsp;type="ConflictingDataType"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:complexType&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:complexType&nbsp;name="ConflictingDataType"&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="EmployeeName1"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="DeptId1"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="EmployeeName2"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:element&nbsp;name="DeptId2"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:sequence&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;xs:attribute&nbsp;name="EmployeeId"&nbsp;type="xs:string"&nbsp;/&gt;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/xs:complexType&gt;<BR>
&lt;/xs:schema&gt;<BR>

